/**
 * Critical CSS
 */

*, *:before, *:after
  box-sizing border-box

html, body
  margin 0

section:not([role="heading"]), footer
  display none

img
  width 100%
  height auto
iframe
  border none
li
  list-style none

/**
 * Load above-the-fold (critical) Content
 * Eg.
 */

// @import 'components/navigation'
// @import 'components/hero'